name: CI

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}

  lint:
    name: "Linting"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-mvn-lint-${{ hashFiles('pom.xml') }}

      - name: Setup JDK ${{ inputs.java-compat-version }}
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Check
        id: check
        run: |
          mvn --batch-mode spotless:check
        shell: bash

      - name: Changes
        if: failure() && steps.check.outcome == 'failure'
        run: |
          mvn --batch-mode spotless:apply
          git diff
        shell: bash

  download-spark:
    name: "Spark"
    uses: "./.github/workflows/download-spark.yml"

  build:
    name: "Build"
    uses: "./.github/workflows/build.yml"

  test-dgraph:
    name: "Test Dgraph"
    needs: build
    uses: "./.github/workflows/test-dgraph.yml"

  test-spark:
    name: "Test Spark (Dgraph ${{ matrix.dgraph-version }})"
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - dgraph-version: "21.12.0"
          - dgraph-version: "22.0.2"
          - dgraph-version: "23.1.1"
          - dgraph-version: "24.1.2"
          - dgraph-version: "25.1.0"
    uses: "./.github/workflows/test-spark.yml"
    with:
      dgraph-version: ${{ matrix.dgraph-version }}

  test-scala:
    name: "Test Scala (2.12)"
    needs: build
    uses: "./.github/workflows/test-scala.yml"
    with:
      dgraph-version: "25.1.0"

  test-python:
    name: "Test Python"
    needs: [test-dgraph, test-spark]
    uses: "./.github/workflows/test-python.yml"

  test-integration:
    name: "Test Integration"
    needs: [download-spark, test-dgraph, test-spark]
    uses: "./.github/workflows/test-integration.yml"

  delete_artifacts:
    name: "Delete Artifacts"
    runs-on: ubuntu-latest
    needs: [test-dgraph, test-spark, test-scala, test-python, test-integration]
    steps:
      - name: Delete Artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            Binaries-*
            Dependencies-*
            Spark-Binaries-*
