name: Test Dgraph

on:
  workflow_call:

jobs:
  test-dgraph:
    name: Unit Tests (Dgraph ${{ matrix.dgraph-version }} Spark ${{ matrix.spark-compat-version }} Scala ${{ matrix.scala-compat-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        spark-compat-version: ["4.1"]
        dgraph-version: [
            "20.03.7",
            "20.07.3",
            "20.11.3",
            "21.12.0",
            "22.0.2",
            "23.0.1",
            "23.1.1",
            "24.0.5",
            "24.1.5",
            "25.0.0",
            "25.1.0"
        ]
        scala-compat-version: ["2.13"]
        include:
          - spark-compat-version: '4.1'
            spark-version: '4.1.1'
            scala-compat-version: '2.13'
            scala-version: '2.13.17'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        uses: ./.github/actions/test-scala
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-version: 17
          dgraph-version: ${{ matrix.dgraph-version }}

