name: Test Scala

on:
  workflow_call:
    inputs:
      dgraph-version:
        required: true
        type: string

jobs:
  test-spark:
    name: Unit Tests (Spark ${{ matrix.spark-version }} Scala ${{ matrix.scala-compat-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - spark-version: "3.0.3"
            spark-compat-version: "3.0"
            scala-compat-version: "2.12"
            scala-version: "2.12.10"
            java-version: 11
          - spark-version: "3.1.3"
            spark-compat-version: "3.1"
            scala-compat-version: "2.12"
            scala-version: "2.12.10"
            java-version: 11
          - spark-version: "3.2.4"
            spark-compat-version: "3.2"
            scala-compat-version: "2.12"
            scala-version: "2.12.15"
            java-version: 11
          - spark-version: "3.3.4"
            spark-compat-version: "3.3"
            scala-compat-version: "2.12"
            scala-version: "2.12.15"
            java-version: 11
          - spark-version: "3.4.4"
            spark-compat-version: "3.4"
            scala-compat-version: "2.12"
            scala-version: "2.12.17"
            java-version: 11
          - spark-version: "3.5.7"
            spark-compat-version: "3.5"
            scala-compat-version: "2.12"
            scala-version: "2.12.18"
            java-version: 11

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        uses: ./.github/actions/test-scala
        with:
          spark-version: ${{ matrix.spark-version }}
          scala-version: ${{ matrix.scala-version }}
          spark-compat-version: ${{ matrix.spark-compat-version }}
          scala-compat-version: ${{ matrix.scala-compat-version }}
          java-version: ${{ matrix.java-version }}
          dgraph-version: ${{ inputs.dgraph-version }}

